


body{
	margin: 0;
	padding: 0;
	background-color: gray;
	text-align: center;
	overflow: hidden;
}



#game{
	width: 600px;
	height: 600px;
	display: block;
	word-spacing : -.36em;
	position: absolute;

	

}

#player{
	width: 50px;
	height: 50px;
	position: absolute;
	left:400px;
	bottom:150px;
	padding: 0;
	margin: 0;
	background-image: url(IMG/player_r.png);
}



#monster{
	width: 50px;
	height: 50px;
	position: absolute;
	left:100px;
	bottom: 450px;
	padding: 0;
	margin: 0;
	background-image: url(IMG/monster_r.png);
}

#wall{
	width: 50px;
	height: 50px;
	
	background-color: green;
	padding: 0;
	margin: 0;
	background-image: url(IMG/wall.jpg);
}

#locked_door_white{
	width: 50px;
	height: 50px;
	background-color: brown;
	padding: 0;
	margin: 0;
	background-image: url(IMG/locked_door.png);
}

#locked_door_black{
	width: 50px;
	height: 50px;
	background-color: brown;
	padding: 0;
	margin: 0;
	background-image: url(IMG/locked_door.png);
}

#unlocked_door{
	width: 50px;
	height: 50px;
	background-color: brown;
	padding: 0;
	margin: 0;
	background-image: url(IMG/unlocked_door.png);
}

#key_card_white{
	width: 50px;
	height: 50px;
	position: absolute;
	left:300px;
	bottom:300px;
	padding: 0;
	margin: 0;
	background-image: url(IMG/key_card_1.png);
}

#key_card_black{
	width: 50px;
	height: 50px;
	position: absolute;
	left:250px;
	bottom:150px;
	padding: 0;
	margin: 0;
	background-image: url(IMG/key_card_2.png);
}

#medic_kit{
	width: 50px;
	height: 50px;
	background-color: brown;
	padding: 0;
	margin: 0;
	background-image: url(IMG/medic_kit.jpg);
}

#empty{
	width: 50px;
	height: 50px;
	
	padding: 0;
	margin: 0;
    background-image: url(IMG/flor_wood.jpg);

}

#empty_asfalt{
	width: 50px;
	height: 50px;
	
	padding: 0;
	margin: 0;
    background-image: url(IMG/asfalt.jpg);

}

#empty_asfalt_plant{
	width: 50px;
	height: 50px;
	
	padding: 0;
	margin: 0;
    background-image: url(IMG/asfalt_plant.jpg);

}

#weapon{
	width: 50px;
	height: 50px;
	
	background-color: red;
	padding: 0;
	margin: 0;
}



.world{
	display: inline-block;


}

#row{
	width: 600px;
	height: 50px;
	
}